/* Main Block Elements */

header {
	background-color: #ffffff;
	border-color: #cccccc;
	width: 960px;
}

section {
	clear: both;
	background: url("assets/images/hypnotize.png");
	background-color: red;
	width: 960px;
}

footer {
	clear: both;
	background-color: #666666;
	width: 960px;
}

/* Container Classes */

	/* Header */

.header-name {
	float: left;
	background-color: #4aaaa5;
	padding: 15px;
}

.nav-bar {
	float: right;
	background-color: #ffffff;
	padding: 15px;
}

	/* Main Section */

.main-bio {
	float: left;
	background-color: #ffffff;
	border-color: #dddddd;
	padding: 20px;
	margin-right: 20px;
	
}

.bio-image {
	float: left;
	margin: 20px;
}

p {
	padding: 20px;
}

.contact-info {
	float: right;
	background-color:#ffffff;
	border-color: #dddddd;
	width: 270px;
	padding: 20px;
	margin-left: 20px;
}

